<footer class="page-footer footer color-primary" style="bottom: 0px fixed">
  <div class="container hide-on-med-and-down">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Centro Universitário e Faculdade Projeção</h5>
        <p class="grey-text text-lighten-4">
          <a class="grey-text text-lighten-3 padding-right" href="https://www.facebook.com/FaculdadeProjecao/" target="_blank"><i class="fab fa-facebook-f fa-1x"></i></a>
          <a class="grey-text text-lighten-3 padding-right" href="https://twitter.com/grupoprojecao/" target="_blank"><i class="fab fa-twitter fa-1x"></i></a>
          <a class="grey-text text-lighten-3 padding-right" href="https://www.instagram.com/grupoprojecao/" target="_blank"><i class="fab fa-instagram fa-1x"></i></a>
          <a class="grey-text text-lighten-3 padding-right" href="https://www.linkedin.com/company/faculdade-projecao/" target="_blank"><i class="fab fa-linkedin-in fa-1x"></i></a>
          <a class="grey-text text-lighten-3 padding-right" href="https://www.youtube.com/user/grupoprojecao1/" target="_blank"><i class="fab fa-youtube fa-1x"></i></a>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links úteis</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://professor.projecao.br/" target="_blank">
              <i class="fas fa-chalkboard-teacher fa-1x"></i> Blog Professor</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://projecao.br/biblioteca" target="_blank">
              <i class="fas fa-book-open fa-1x"></i> Biblioteca</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://projecao.br/ava" target="_blank">
              <i class="fas fa-desktop fa-1x"></i> AVA</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright color-danger">
    <div class="container center">
      <i class="fa fa-copyright"></i> 2018 Fábrica de Software - UniProjeção
    </div>
  </div>
</footer>