<span class="card-title center">Dados Pessoais</span>
<hr>
<form [formGroup]="dadosPessoaisForm" (ngSubmit)="teste()" class="row">
	<div class="row">
		<div class="input-field col s12 m6 l6 xl4">
			<label for="inputNome">Nome</label>
			<input type="text" formControlName="inputNome" id="inputNome" class="form-control" data-length="10" />
		</div>
		<div class="input-field col s12 m6 l6 xl4">
			<label for="inputSobrenome">Sobrenome</label>
			<input type="text" formControlName="inputSobrenome" id="inputSobrenome" class="form-control" />
		</div>
		<div class="input-field col s12 m4 l4 xl4">
			<label for="inputApelido">Apelido</label>
			<input type="text" formControlName="inputApelido" id="inputApelido" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m8 l8 xl6">
			<label for="inputEndereco">Endereço</label>
			<input type="text" formControlName="inputEndereco" id="inputEndereco" class="form-control" />
		</div>
		<div class="input-field col s12 m4 l4 xl3">
			<label for="inputCEP">CEP</label>
			<input type="text" formControlName="inputCEP" id="inputCEP" class="form-control" />
		</div>
		<div class="input-field col s12 m8 l4 xl3">
			<label for="inputCidade">Cidade</label>
			<input type="text" formControlName="inputCidade" id="inputCidade" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6 l4 xl3">
			<label for="inputTelefone">Telefone Fixo</label>
			<input type="text" formControlName="inputTelefone" id="inputTelefone" class="form-control" />
		</div>
		<div class="input-field col s12 m6 l4 xl3">
			<label for="inputCelular">Telefone Celular</label>
			<input type="text" formControlName="inputCelular" id="inputCelular" class="form-control" />
		</div>
		<div class="input-field col s12 m12 l8 xl6">
			<label for="inputEmailPessoal">E-mail</label>
			<input type="text" formControlName="inputEmailPessoal" id="inputEmailPessoal" class="form-control" />
		</div>
	</div>
</form>