.dropdown-content {
    width: fit-content !important;
    top: -4.3em;
}

.user-style{
	font-size: 1.3em !important;
}

.caret-style{
	width: 100%;
	text-align: right !important;
	font-size: 1em !important;
}