<main class="text-center">
  <form class="form-signin">
    <img class="mb-4 img-fluid" src="../../../assets/images/logo_escola.png" alt="logo-projecao">
    <h1 class="h3 mb-3 font-weight-normal">Efetue seu login.</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
    <div class="checkbox mb-3">
      <label>
        <a href="http://xvideos.com">Esqueci minha senha</a>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 Fábrica de Software - Campus II</p>
  </form>
</main>