<div class="navbar-fixed">
  <nav class="color-light">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img class="responsive-img" src="assets/img/logo_escola.png"></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="sass.html" class="black-text">Sass</a>
        </li>
        <li>
          <a href="badges.html" class="black-text">Components</a>
        </li>
        <li>
          <a class="dropdown-trigger black-text" data-target="dropdown1" id="dropdown">Dropdown
              <i class="fa fa-angle-down"></i>
          </a>
          <ul id="dropdown1" class="dropdown-content">
              <li>
                <a href="#">one</a>
              </li>
              <li>
                <a href="#">two</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">three</a>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>