<div class="row">
  <div class="center-page card col s10 offset-s1 m8 offset-m2 l6 offset-l3 xl4 offset-xl4">
    <div class="card-content">
      <div class="center-align">
        <img class="responsive-img" src="assets/img/logo_escola.png">
      </div>
      <div class="row"></div>
      <span class="card-title center-align">Sys DP</span>
      <router-outlet></router-outlet>
    </div>
    <div class="card-action center-align">
      <p>
        <i class="fa fa-copyright"></i> 2018 Fábrica de Software - UniProjeção
      </p>
    </div>
  </div>
</div>