<span class="card-title center">Dados Profissionais</span>
<hr>
<form [formGroup]="dadosProfissionaisForm" (ngSubmit)="teste()">
  <div class="row">
    <div class="input-field col s6">
      <input type="text" formControlName="inputGraduacao" id="inputGraduacao" class="form-control" />
      <label for="inputGraduacao">Graduação</label>
    </div>
    <div class="input-field col s4">
      <input type="text" class="datepicker" formControlName="inputDataConclusao" id="inputDataConclusao">
      <label for="inputDataConclusao">Data de Conclusão</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s5">
      <input type="text" formControlName="inputMaiorTitulacao" id="inputMaiorTitulacao" class="form-control" />
      <label for="inputMaiorTitulacao">Maior titulação obtida</label>
    </div>
    <div class="input-field col s3">
      <label for="inputTitulacaoAndamento">
        <input type="checkbox" name="inputTitulacaoAndamento" id="inputTitulacaoAndamento" class="filled-in">
        <span>Titulação em andamento?</span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <input type="text" formControlName="inputNomeTitulacaoAndamento" id="inputNomeTitulacaoAndamento" class="form-control" />
      <label for="inputNomeTitulacaoAndamento">Informe qual</label>
    </div>
    <div class="input-field col s4">
      <input type="text" class="datepicker" formControlName="inputEstimativaTermino" id="inputEstimativaTermino">
      <label for="inputEstimativaTermino">Estimativa de Término</label>
    </div>
    <div class="input-field col s4">
      <input type="text" name="inputPrincipalAtuacaoProfissional" id="inputPrincipalAtuacaoProfissional" class="form-control">
      <label for="inputPrincipalAtuacaoProfissional">Principal Atuação profissional</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <input type="text" name="inputTempoXpProfissional" id="inputTempoXpProfissional" class="form-control">
      <label for="inputTempoXpProfissional">Tempo de exp. profissional</label>
    </div>
    <div class="input-field col s4">
      <input type="text" name="inputTempoXpMagisterioSuperior" id="inputTempoXpMagisterioSuperior" class="form-control">
      <label for="inputTempoXpMagisterioSuperior">Tempo de exp. em magistério superior</label>
    </div>
    <div class="input-field col s4">
      <input type="text" name="inputXpDocenciaEducacaoBasica" id="inputXpDocenciaEducacaoBasica" class="form-control">
      <label for="inputXpDocenciaEducacaoBasica">Tempo de exp. da docência na ed. básica
        <b class="text-danger">(*)</b>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <input type="text" class="datepicker" formControlName="inputDataAttLattes" id="inputDataAttLattes">
      <label for="inputDataAttLattes">Data última atualização do Lattes</label>
    </div>
    <div class="input-field col s8">
      <input type="text" name="inputUrlLattes" id="inputUrlLattes" class="form-control">
      <label for="inputUrlLattes">URL</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="inputTxtAreaPublicacoes" class="materialize-textarea" data-length="500"></textarea>
      <label for="inputTxtAreaPublicacoes">Informe as publicações nos últimos 3 anos (Título, Ano e Local de publicação):</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8 offset-s4">
      <b class="text-danger">(*) SOMENTE PARA DOCENTES DA ESCOLA DE FORMAÇÃO DE PROFESSORES</b>
    </div>
  </div>
</form>