.color-primary { background-color: #032a51}
.color-secondary{ background-color:  #32db64}
.color-danger{ background-color:     #d93b3b}
.color-light{ background-color:      #f4f4f4}
.color-dark{ background-color:       #222}
.color-ligth-blue{ background-color: #148cdb}

html > body {
    background-color: #e9e9e9 !important;
}

html, body{
    height: 100% !important;
}

.btn-rounded {
    border-radius: 1.8em;
}